/* General */
html {
    height: 100%;
    font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
    margin: 0;
    height: 100%;
    display: block;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

/* View */
section[role="region"] {
    height: 100%;
    transition: none;
    left: 0;
    z-index: 0;
    padding-left: 0;
}
section[role="region"][data-position="right"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    z-index: 15;
}
.template {
    display: none;
}

/* Header */
header {
    border-top: transparent solid 1rem;
}
header:first-child {
    position: absolute;
    width: 100%;
    margin-left: 0;
}
header:first-child h1 {
    margin-left: 3rem;
}

/* Back Button */
header:first-child > a {
    width: 5rem;
    background-position: 2rem center;
}
header:first-child > a .icon:after {
    width: 2rem;
}

/* Content */
.content {
    padding: 0 3rem 1.5rem 3rem;
    background: #fff;
}

header h2 {
    margin: 3rem -3rem 1.5rem -3rem;
}

header:first-child h2 {
    margin-top: 0;
}

/* Scrollable */
.scrollable {
    overflow: scroll;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

/* Lists */
.content [data-type=list] li > a:active { 
    background-color: transparent;
}

.content [data-type="list"] {
    margin: 0 -3rem;
}

.content [data-type="list"] li > p {
    margin: 0 1.5rem;
}

.content [data-type="list"] li > a {
    margin: 0 1.5rem;
}

.content [data-type="list"] li > a:after {
    left: -1.5rem;
    right: -1.5rem;
}

.content [data-type="list"] header {
    padding: 0.5rem 1.5rem;
}

.content [data-type="list"] li > a > aside:not(.pack-end) {
    margin-left: -1.5rem;
}

[aria-disabled="true"] {
    pointer-events: none;  
}

/* Fonts */
h1 { /* Main header */
    font-size: 2.5rem;
    font-weight: normal;
}

h2 { /* Subheader, Dialog title */
    font-size: 1.6rem;
    font-weight: normal;
}

p {
    font-size: 1.9rem;
    font-weight: normal;
    line-height: 2.5rem;
}

p.large { /* Dialog body */
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 3rem;
}

p.alt { /* Body medium, Buttons */
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.2rem;
}

p.small { /* Status bar */
    font-size: 1.5rem;
    line-height: 2rem;
}

p.mini { /* Fine print */
    font-size: 1.4rem;
    line-height: 1.9rem;
}

p.micro { /* App icon label */
    font-size: 1.3rem;
    line-height: 1.8rem;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.9rem;
    font-weight: normal;
    line-height: 2.5rem;
}

.view-filter .items p {
    height: 5rem; 
    line-height: 5rem;
}

.view-filter .items p label {
    float: right; 
    clear: both;
}